body, html {
	padding: 0;
	margin: 0;

}

.container-fluid {
    padding: 0;
    background-color: #ac0800;
}

#page {
	background-color: #9E9E9E;
	color: #795548;
}

#commentInp {
    background-color: #9E9E9E;
    color: #795548;
    border: #9E9E9E;
}

h4 {
    color: #795548;
}

h1, h2, .nav-link {
	color: #95a5a6;
}

a, h1, h2 {
	text-decoration : none !important;
}

a :hover, .nav-item :hover {
	color: #e64a19 ;
}

#points :hover, #points {
	color: #795548 !important;
	text-decoration-line:none;
}

#title, #chapterName {
	color: #ac0800;
}

#titleHome {
	margin-top: 15px;
	padding: 30px;
}

#login {
	margin-top: 100px;
}

#bio {
	padding: 20px;
}


button, .btn-group, .btn {
	background-color: #795548;
	color: #9E9E9E;
	border: #9E9E9E;
	margin: 8px;
}

#modalBox {
	border: #d35400 solid 4px;
	background-color: #d35400;
	text-align: center;
	margin-top: 3em;
    height: 350px;
    width: 400px;
    left : 5px;
}

#modal-button {
	background-color: #c0392b;
	color: white;
}

.form-group {
	background-color: #bdc3c7;
	border: #bdc3c7;
	border-radius: 4px;
}

caption {
    caption-side: top;
}

input #commentInp {
    height: auto;
    width: auto;
}

.frame {
	border-top : 1px solid white;
	padding: 14px;
}

.frame2 {
	border-bottom : 1px solid white;
	padding: 14px;
}

.modal {
	background-color: #e67e22;
}

div.mce-edit-area {
	/*background-color:#795548; */
}

