h1
{
	font-size: 34px;
	/*color: #FF5733; */
	color: #303338;
	text-align: center;
}
header {
	/*background-color: #b5091f; */ /*#332f31 #1f2023  */
	background-image: linear-gradient(to bottom, #b5091f, #e84e61, #bc2b3d );
	padding: 5px;
	height: 300px;
}

.page {
	/*background-image: url(Images/bois3.jpg);  */
	/* background-color: #1f2023 ;   /* #fcfcfc    #1f2023*/
	background-color: white;  /* #b5091f */
/*	background-image: linear-gradient(to bottom, #7a0614 30%, #1f2023);  */
}
/* customisation du formulaire */
.formCom
{
	text-align: left;
	display: flex;
	flex-direction: column;
}

form label
{
	margin: 6px;
}

section
{
	display: flex;
	justify-content: space-between;
	margin: 50px;
	width: auto; 
}

.listCom
{
	margin-left: 15px;
	width: 500px;
	padding: 10px;
	border: inset 4px #cecece; /* pour faire des tests uniqement */
	text-align: left;
	background-color: #cecece;
}

h5
{
	
	color: #d5d9e0;
	font-size: 14px;
	margin: 2px;
	text-align: center;
}

article
{
	border: solid 1px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	background-color: #d5dae2;
/*	color: #A18F8C; */
	color: #1f2023;
	text-align: justify;
	padding: 25px;
}

.frame
{
	background-color: #b5091f;
	/*background-color : #FF5733;*/
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	margin: 15px;
}

.frame2
{
	margin-top: 15px;
	/*display: flex;
	flex-direction: column;
	justify-content: flex-start;*/
	/*background-color : #FF5733;*/
	background-color: #b5091f;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	text-align: center; 
}

#comm
{
	color: #A18F8C;
	font-weight: bold;
}

#colorBoxComm
{
	/*background-color: #efefef;*/
	background-color: #d3d1cf;
}

textarea, input
{
    background-color: white;
}

#author
{
	text-align: left;
}

#lien
{
	float: right;
}

@media all and (max-width: 1160px)
{
    section
    {
        flex-direction: column;
        justify-content: center;
        align-content: flex-start;
    }

    form
    {
    	display: flex;
    	flex-direction: column;
    	justify-content: space-around;
    }
    label
    {
    	display: flex;
    	flex-direction: row;
    	align-items: flex-start;
    }

}