body, html {
	padding: 0;
	margin: 0;

}

.container-fluid {
    padding: 0;
    background-color: #ac0800;
}

#title {
	color: #ac0800;
}

#page {
	background-color: #9E9E9E;
	color: #795548;
}

#commentInp {
    background-color: #9E9E9E;
    color: #795548;
    border: #9E9E9E;
}

h4 {
    color: #795548;
}

h1, h2, .nav-link, #chapterName, #chpNumber  {
	color: #95a5a6;
}

a, h1, h2 {
	text-decoration : none !important;
}

a :hover, .nav-item :hover {
	color: #e64a19 ;
}

#points :hover, #points {
	color: #795548 !important;
	text-decoration-line:none;
}

#titleHome {
	margin-top: 15px;
	padding: 30px;
}

#jfImg {
	margin-top: 25%;
	padding: 20px;
}

#login {
	margin-top: 100px;
}

#bio {
	padding: 20px;
}

#pageNumber {
	background-color: #795548;
	color: #9E9E9E;
}

button, .btn-group, .btn {
	background-color: #795548;
	color: #9E9E9E;
	border: #9E9E9E;
	margin: 8px;
}

#modal-button {
	background-color: #c0392b;
	color: white;
}

.form-group {
	background-color: #bdc3c7;
	border: #bdc3c7;
	border-radius: 4px;
}

caption {
    caption-side: top;
}

input #commentInp {
    height: auto;
    width: auto;
}

.frame {
	border-top : 1px solid white;
	padding: 14px;
}

.frame2 {
	border-bottom : 1px solid white;
	padding: 14px;
}

#chapterName {
    margin-top: 15px;
}

.modal-dialog {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.modal.fade .modal-dialog {
	transform: translate(0, -100%);
}

.modal.in .modal-dialog {
	transform: translate(0, 0);
}

#btnPages {
	display: flex;
	justify-content: center;
}

.adminArray, .newChap {
	text-align: center;
}

#newChap {
	color: #795548;
}

@media all {

	#jfImg {
		margin-top: 4px;
		margin-bottom: 8px;
		padding: 4px;
	}
}

